{
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "jsx-a11y",
    "import"
  ],
  "extends": [
    "airbnb-typescript",
    "react-app",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/semi": [
      "error"
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "react/jsx-key": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.test.ts",
          "**/*.test.tsx",
          "src/tests/**/*"
        ]
      }
    ],
    "prettier/prettier": "error",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "import/export": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-named-as-default": 0,
    "@typescript-eslint/comma-dangle": [
      0
    ],
    "no-await-in-loop": "error",
    "no-template-curly-in-string": "error",
    "require-atomic-updates": "error",
    "no-debugger": "error",
    "react/prop-types": [
      0
    ],
    "react/display-name": [
      0
    ],
    "react/prefer-stateless-function": [
      0
    ],
    "react/jsx-no-target-blank": [
      2
    ],
    "react/jsx-pascal-case": [
      2
    ],
    "react-hooks/rules-of-hooks": [
      2
    ],
    "react-hooks/exhaustive-deps": [
      2
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "class",
        "format": [
          "PascalCase"
        ]
      }
    ],
    "import/no-relative-parent-imports": "error"
  }
}