* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  background-color: DodgerBlue;
  padding: 20px;
}

.counter-content {
  color: #fff;
  display: flex;
  align-self: center;
  padding: 20px 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.btn-content {
  padding: 8px;
  margin: 10px 20px;
  color: #fff;
  border: none;
  background-color: lightcoral;
}
